<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Enterprise Architecture Transformation</h2>
        <p class="lead">Specializing in legacy batch application workloads in highly regulated industries.</p>
        <p>ZBL was founded in 2015 by Timothy C. Fanelli, former IBMer, and recognized leader in the field of
          z Systems legacy workload modernization. Tim specializes in COBOL and PL/1 to Java modernization
          efforts, enterprise architectural reviews, business value analysis, and education and training workshops.
          Tim's industry experience spans dozens Fortune 500 companies in Financial Markets, Insurance, Government,
          and Telecommunications industries.
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
