<!--
<aside class="callout interconnect">
  <div class="text-vertical-center">
    <h1>IBM Interconnect 2016</h1>
    <big><strong>ZBL's Tim Fanelli will be presenting <i>Spotlight on z Systems Workload Modernization</i> at
      Interconnect 2016 at MGM and Mandalay Bay, February 22-26 2016!</strong></big>
    <p style="margin-top: 20px;"><a href="http://www.ibm.com/cloud-computing/us/en/interconnect/" class="btn btn-lg btn-light">Register Today!</a></p>
  </div></aside>
-->
  <aside class="callout saner">
  <div class="text-vertical-center">
    <h1>SANER 2016</h1>
    <big><strong>ZBL's Tim Fanelli will discuss his paper <i>A Systematic Framework for Modernizing Legacy Application Systems</i> at
      23'rd IEEE International Conference on Software Analysis, Evolution, and Reengineering (SANER). SANER 2016 is March 14-18, 2016,
      at Osaka, University.</strong></big>
	<br/><br/><br/>
	<br/><br/><br/>
	<big>Access our paper here: <a style="color: #ffffff;" href="http://zblservices.com/uploads/SANER2016.pdf">A Systematic Framework for Modernizing Legacy Application Systems</a></big>
  </div>
  </aside>
