<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-item">
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x zblred"></i>
          <i class="fa fa-flask fa-stack-1x white"></i>
          </span>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 text-left">
        <h2>doctorbatch.io</h2>
        <p class="lead">Rapidly develop JSR-352 compliant applications for z/OS</p>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left">
					{% for post in site.posts reversed %}
					{% if post.categories contains 'magicsauce' %}
					{{ post.content }}
					{% endif %}
					{% endfor %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
